* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header  {
    box-shadow: 0px 3px 10px black;
    position: sticky;
    top: 0px;
    z-index: 2;
    background: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    margin: auto;

    /* background-color: grey; */
    font-family: 'Poppins', sans-serif;
}

nav ul {
    font-size: 1rem;
    flex: 1;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav-links li{
    list-style: none;
    
}

.nav-links a {
    color: rgb(209, 198, 97);
    text-decoration: none;
    font-weight: bold;
  letter-spacing: 2px;
}


.flex-container {
    max-width: 1200px;
   display: flex; 
   flex-wrap: wrap; 
   margin: auto;
  flex-direction: row;
  padding: 10px 4px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
 
} 

.column {
   flex: 32%;
   height: 100vh;
   margin-bottom: 2%;
   
  
}

.column a {
   text-decoration: underline;
    
   
 }


.photo1, .photo2, .photo3{
    position: relative;
    text-align: center;
}



h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(248, 98, 28);
    font-family: 'Poppins', sans-serif;
   
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(248, 98, 28);
    font-family: 'Poppins', sans-serif;
  
}




@media (max-width: 600px) {
    .column { 
        display: flex;
        font-size: 70%;
    flex-direction: column;
min-width: 100%; }
  }


  #photo1 { 
    width: 400px;
   height: 200px;
   padding: 0 20px;

  }
  #photo3 { 
    width: 400px;
   height: 20px;
   

  }
  

img:hover {
    opacity: .5;
    transition: .9s;
}

h2:hover {
    text-decoration: underline;
}

